
ion-content {
  --background: url('https://scontent.fvll1-1.fna.fbcdn.net/v/t1.6435-9/47213977_1216259815178387_353411959476977664_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=9267fe&_nc_ohc=kjQqbcYUi4cAX_Kn5XK&_nc_ht=scontent.fvll1-1.fna&oh=00_AfA-gbcm2K3QtNZCkPh_uWok8YfI1aSGzx2Ey8NItzZg6Q&oe=646C8F10') no-repeat center center fixed;
  background-size: cover;

}
form{
  --background: rgba(255, 255, 255, 0.5);
  color: #000000;
  text-align: center;
  

}
ion-item{
  --background: rgba(255, 255, 255, 0.5);

}

ion-toolbar{
  --background: rgba(255, 255, 255, 0.5);
  color:darkred;

}
ion-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
ion-button{
margin-top: 10px;
}