<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card color="medium" button="true" class="clase">
    <ion-card-header>
      <ion-card-title style="font-size: 20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">LISTADO
        COMPLETO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- thumbnail -->
      <div *ngFor="let alumno of allAlumnos" style="border: solid 2px hsl(0, 0%, 100%); border-radius: 10px;">
        <ion-item style="border-radius: 5px;">
          <ion-thumbnail slot="start"> 
            <img alt="Silhouette of mountains" [src]="alumno.avatar" />
          </ion-thumbnail>
          <ion-label style="font-size: 20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>{{
              alumno.nombre |titlecase}} {{ alumno.apellidos |titlecase}}</strong> </ion-label>
        </ion-item>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="medium">
              <ion-label>Ver más</ion-label>
            </ion-item>
            <div slot="content" style="color: rgb(255, 255, 255); background-color: #92949c; padding: 1px;">
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col>
                    <strong style="color: black;">Peso (KG):</strong>
                  </ion-col>
                  <ion-col>
                    <strong style="color: black;">Cinturon:</strong>
                  </ion-col>
                  <ion-col>
                    <strong style="color: black;">Tarifa:</strong>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    {{alumno.peso}}
                  </ion-col>
                  <ion-col>
                    <ion-label>
                      {{alumno.cinturon |titlecase}} {{alumno.grados ? alumno.grados : 0}}
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    {{alumno.tarifa |titlecase}}
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col>
                    <strong style="color: black;">Teléfono:</strong>
                  </ion-col>
                  <ion-col>
                    <strong style="color: black;">Correo:</strong>
                  </ion-col>
                  <ion-col>
                    <strong style="color: black;">DNI: </strong>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col>
                    {{alumno.telefono}}
                  </ion-col>
                  <ion-col>
                    {{alumno.correo}}
                  </ion-col>
                  <ion-col>
                    {{alumno.dni ? alumno.dni : 26275424}}
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col>
                    <strong style="color: black;">Fecha Inscripción:</strong> {{alumno.fecha ?
                    alumno.fecha : '26/03/2023' }}
                  </ion-col>
                  <ion-col>
                    <ion-button color="danger" (click)="abrirIntervalos(true,alumno)">Modificar Datos</ion-button>
                  </ion-col>
                </ion-row>


              </ion-grid>

            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <ion-item *ngIf="cargar===true" class="itemSpinner">
        <ion-label>Cargando Listas</ion-label>
        <ion-spinner></ion-spinner>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- Modal para modificar -->
  <ion-modal [isOpen]="modificar">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title> <strong>MODIFICAR</strong> </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="abrirIntervalos(false)">Terminar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">


        <form (submit)="onSubmit()" autocomplete="off" [formGroup]="formReg">
          <!-- CORREO -->
          <ion-item>
            <ion-input class="ion-margin-top" label="Correo de usuario" label-placement="floating" placeholder="Email"
              type="email" formControlName="email"></ion-input>
            <ion-icon slot="end" name="mail"></ion-icon>
          </ion-item>
          <ion-text color="danger" *ngIf="campoEsValido('email')">*Campo obligatorio - formato de correo </ion-text>
          <!-- DNI -->
          <ion-item>
            <ion-input class="ion-margin-top" label="DNI" label-placement="floating" type="text"
              formControlName="dni"></ion-input>
            <ion-icon slot="end" name="id-card"></ion-icon>
          </ion-item>
          <!-- NOMBRE -->
          <ion-item>
            <ion-input class="ion-margin-top" label="Nombre" label-placement="floating" type="text"
              formControlName="nombre"></ion-input>
            <ion-icon name="person"></ion-icon>
          </ion-item>
          <ion-text color="danger" *ngIf="campoEsValido('nombre')">*Campo obligatorio </ion-text>
          <!-- APELLIDOS -->
          <ion-item>
            <ion-input class="ion-margin-top" label="Apellidos" label-placement="floating" type="text"
              formControlName="apellidos"></ion-input>
            <ion-icon name="person-outline"></ion-icon>
          </ion-item>
          <ion-text color="danger" *ngIf="campoEsValido('apellidos')">*Campo obligatorio </ion-text>
          <!-- TELEFONO -->
          <ion-item>
            <ion-input class="ion-margin-top" label="Telefono" label-placement="floating" type="number"
              formControlName="telefono"></ion-input>
            <ion-icon name="call"></ion-icon>
          </ion-item>
          <ion-text color="danger" *ngIf="campoEsValido('telefono')">*Campo obligatorio - más de 9 números </ion-text>
          <!-- CINTURON -->
          <ion-item>
            <ion-select formControlName="cinturon" label="Elegir cinturón" style="color: white;" okText="Aceptar"
              cancelText="Cancelar">
              <ion-select-option value="blanco">Blanco</ion-select-option>
              <ion-select-option value="azul">Azul</ion-select-option>
              <ion-select-option value="morado">Morado</ion-select-option>
              <ion-select-option value="marron">Marron</ion-select-option>
              <ion-select-option value="negro">Negro</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- Grados -->
          <ion-item>
            <ion-input class="ion-margin-top" label="Grados" label-placement="floating" type="number"
              formControlName="grados"></ion-input>
            <ion-icon name="cellular"></ion-icon>
          </ion-item>

          <!-- PESO -->
          <ion-item>
            <ion-input class="ion-margin-top" label="Peso (KG)" label-placement="floating" type="number"
              formControlName="peso"></ion-input>
            <ion-icon name="scale"></ion-icon>
          </ion-item>
          <!-- TARIFAS -->
          <ion-item>
            <ion-select style="color: white;" label="Elegir tarifa" okText="Aceptar" cancelText="Cancelar"
              formControlName="tarifa">
              <ion-select-option value="iniciacion">Iniciacion (2 clases)</ion-select-option>
              <ion-select-option value="avanzado">Avanzado (4 clases)</ion-select-option>
              <ion-select-option value="ilimitado">Ilimitado</ion-select-option>
              <ion-select-option value="bjj-gym">Ilimitado + Hangar</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- Profesor -->
          <ion-item>
            <ion-toggle formControlName="esProfe" [value]="profe" style="color: white;">Es
              Profesor:</ion-toggle><br /><br />
          </ion-item>
          <!-- Fecha -->
          <ion-item>
            <ion-input class="ion-margin-top" label="Fecha" label-placement="floating" placeholder="Fecha del pago"
              type="text" formControlName="fecha"></ion-input>
            <ion-datetime-button color="danger" datetime="datetime2"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime2" class="horas2" presentation="date" (ionChange)="onDateTimeChange($event)"
                  [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar" format="YYYY-MM-DDTHH:mm"
                  [firstDayOfWeek]="1" color="light"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <!-- Guardar -->
          <ion-button shape="round" expand="block" color="dark" [disabled]="!formReg.dirty" (click)=" onSubmit()">
            <ion-icon slot="end" name="checkmark-circle-sharp"></ion-icon> Guardar Cambios
          </ion-button>
        </form>



      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>