ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #4f4f4f));
  border-right: 1px solid var(--ion-color-step-150, #d7d8da);
  box-shadow: 0 4px 8px rgba(228, 4, 4, 0.2);


}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  box-shadow: 0 4px 8px rgba(228, 4, 4, 0.2);

}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border: 2px solid var(--ion-color-step-150, #d7d8da);
  // border-right: 5px solid var(--ion-color-step-150, #d7d8da);
  box-shadow: 0 4px 8px rgba(228, 4, 4, 0.2);
  
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 28px;
  font-weight: 600;
  min-height: 20px;
  margin: 10px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 25px;
  margin-bottom: 18px;
  text-align: center;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  // --background: rgba(var(--ion-color-medium-rgb), 0.14);
  background-color: rgb(255, 255, 255);
}

ion-menu.md ion-item.selected ion-icon {
  color:black;
}

ion-menu.md ion-item ion-icon {
  color: black;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;

}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
  border-bottom: 5px solid var(--ion-color-step-150, #d7d8da);
  border-right: 5px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
  font-size: 25px;
  margin-bottom: 18px;
  text-align: center;

  color: #757575;

  min-height: 26px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  // --color: var(--ion-color-step-150);
  color: #000000;
}
ion-item{

  --background: rgb(116,116, 116)
  --background: linear-gradient(45deg, rgba(9, 0, 20, 0.91) 0%, rgba(33, 0, 48, 0.8) 100%);

}

.frases{
  color:white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  margin-top: 35px
}
